<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ADMIN HOME</title>
<link rel="stylesheet" type="text/css" href="adminhome.css">
</head>
<body>

<h2>Admin Home</h2>

<form action="newsong">
    <input type="submit" value="ADD SONGS">
</form>

<br><br>

<form action="viewsongs">
    <input type="submit" value="VIEW SONGS">
</form>

<br><br>

<form action="createplaylists">
    <input type="submit" value="CREATE PLAYLIST">
</form>

<br><br>

<form action="viewplaylists">
    <input type="submit" value="VIEW PLAYLIST">
</form>




</body>
</html>
