<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ADD SONG</title>
    <link rel="stylesheet" type="text/css" href="newsong.css">
</head>
<body>
   <form action="addsong" method="post">
        <h2>Add Songs</h2>

        <label>Song Name</label>
        <input type="text" name="name" placeholder="song name">
        <br><br>

        <label>Song Artist</label>
        <input type="text" name="artist" placeholder="song artist">
        <br><br>

        <label>Song Genre:</label>
        <input type="text" name="genre" placeholder="song genre">
        <br><br>

        <label>Song Link</label>
        <input type="text" name="link" placeholder="song link">
        <br><br>

        <input type="submit" value="ADD SONGS">
    </form>
</body>
</html>
