<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>REGISTER</title>
</head>
<link rel="stylesheet" type="text/css" href="registration.css">
<body>

<form action="register" method="post">

<h1>Registration Form</h1>
<br>
    <label>Username</label>
    <input type="text" name="username" placeholder="Username"><br>
    
    <label>Email</label><br>
    <input type="text" name="email" placeholder="Email"><br>
    
    <label>Password</label><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    
    <label>Gender:</label>
    <label>Male</label>
    <input type="radio" name="gender" value="M"> 
    <label>Female</label>
    <input type="radio" name="gender" value="F"> 
    <label>Other</label>
    <input type="radio" name="gender" value="O"><br><br>
    
    <label>Role :</label> 
    <label>Admin</label> 
    <input type="radio"  name="role" value="Admin"> 
    <label>Customer</label> 
    <input type="radio"  name="role" value="Customer"><br><br>
    
    <label>Address</label> 
    <textarea name="address"></textarea><br><br>
    
    <button type="submit">Submit</button>
</form>


</body>
</html>
